* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* colors main - 1B7D65 secondary/border/navbar - 6E8880 header/footer - 779C93 */
body {
    color:#E3EEEB;
    position: relative;
    background-image:url('./Images/portfolio_background.jpg');
    height: 100vh;
}

.contentHeading {
    color: #d0d79c;
}

.header {
    color: #d0d79c;
}

.name {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dropDownBtn {
    background-color: #d0d79c;
    margin-top: -4rem;
    margin-right: 1rem;
}



