* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* colors main - 1B7D65 secondary/border/navbar - 6E8880 header/footer - 779C93 */
body {
    color:#E3EEEB;
    position: relative;
    background-image:url('./Images/portfolio_background.jpg');
}

.contentHeading {
    color: #d0d79c;
}

.header {
    text-align: center;
    color: #d0d79c;

}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

.btn:hover {
    color:bisque;
    transition-duration: 300ms;
    cursor: pointer;
}

