* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* background placement */
body {
    color:#E3EEEB;
    background-position: relative;
    background-attachment: fixed;
    background-image:url('./Images/portfolio_background.jpg');
    height: 100%;
}


/* header styling */
.contentHeading {
    color: #d0d79c;
}

.dropDownBtn {
    margin-top: -4rem;
    margin-right: 1rem;
}

header {
    color: #d0d79c;
}

.name {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.navDrop {
    position: fixed;
    margin-left: 95%;
}


/* body general */
.mainDisplayContainer {
    border-style: dashed;
    margin-top: 3rem;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 3rem;
    text-align: center;
    border-color: #d0d79c;
    border-radius: 1rem;
}

.contentHeading {
    color:#d0d79c;
}


/* footer styling */
footer {
    margin-top: 10rem;
    padding: 2rem;
    text-align: center;
}

.profiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* fix icon styling later */
}


/* homepage styling */
.homePageTopText {
color:#d0d79c;
}

.profilePic {
    border-radius: 50%;
    max-width: 8rem;
    max-width: 8rem;
}


/* about page styling */


/* projects page styling */
.projectCards {
    margin: 1rem;
}
.projectsCardTitle {
    color:#d0d79c;
}

.projectsCardText {
    text-decoration:underline;
    font-weight: bold;
    background-color: #373737;
    border-radius: .5rem;
    padding: .5rem;
}

.projectLink {
    background-color: white;
}

.projectLink:hover {
    cursor: pointer;
}


